{% extends 'base.html.twig' %}

{% block title %}Edit Flight{% endblock %}

{% block body %}
<div class="container">
    <div class="row justify-content-center mt-3">
        <div class="col-6">
    <h1 class="my-5 text-center">Editer un vol</h1>

        {# {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert-{{ label }} my-3">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %} #}

        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}

    {{ include('flight_type/_form.html.twig', {'button_label': 'Update'}) }}


    {{ include('flight_type/_delete_form.html.twig') }}

        </div>
    </div>
</div>
{% endblock %}
